<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light sticky-top">
    <a class="navbar-brand" href="/">
        <img id="logo" src="/img/personal-logo.png" alt="Ashley Jones">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-grow-1 text-right" id="navbarToggler">
        <ul class="navbar-nav ml-auto">
            {% for item in site.data.navigation.nav-items %}
            <li class="nav-item"><a class="nav-link" href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a></li>
            {% endfor %}
            <li class="nav-item"><a href="/#contact" class="nav-link nav-contact-us">Contact</a></li>
        </ul>
    </div>
</nav>
